.TeamList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 45px 35px;
}

.TeamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.TeamMember h4 {
  margin: 12px 0;
  font-size: 1.25em;
}

.TeamMember .picture img {
  border-radius: 50%;
  filter: brightness(130%) contrast(50%) sepia(75%) saturate(50%);
  transition: filter .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.TeamMember:hover .picture img {
  filter: unset;
  cursor: pointer;
}

.TeamMember .content {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 1.1em;
}

.TeamMember.active .content {
  max-height: 300px;
  overflow-y: auto;
  padding: 12px;
  text-align: justify;
}
